Options -Indexes
DirectoryIndex index.php

<IfModule mod_rewrite.c>
    CGIPassAuth On
    RewriteEngine On

    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    RewriteRule ^index\.php$ - [L]
    RewriteRule ^.*$ index.php [L]
</IfModule>
